.chat-user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.chat-item {
  border: none;
}
.chat-item:hover {
  background-color: rgb(145, 189, 229);
  border: none;
}
.Inbox {
  background-color: rgb(66, 66, 237);
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
.user-photo {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chat-list {
  overflow-y: auto;
  height: 70vh;
}
.last-message {
  font-size: 0.85rem;
  color: #555;
}
/* ChatConversation.css */

.chat-container {
  height: 90vh;
  position: relative;
  border-left: 1px solid #c8c8c8;
}

.chat-header {
  background-color: #e6e6e6;
  padding: 10px 15px;
  border-bottom: 1px solid #d5d5d5;
}

.chat-avatar {
  width: 40px;
  height: 40px;
}

.chat-info .chat-name {
  font-weight: bold;
  font-size: 16px;
}

.chat-info .chat-status {
  color: #b0b3b8;
}

.chat-body {
  flex-grow: 1;
  height: 75vh;
  padding: 15px;
  overflow-y: auto;
}

.message-bubble {
  max-width: 60%;
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 18px;
  word-wrap: break-word;
  position: relative;
  font-size: 14px;
}

.message-bubble .reply-to {
  font-size: 11px;
  color: #b0b3b8;
  margin-bottom: 5px;
}

.from-you {
  background-color: #0084ff;
  color: white;
  width: fit-content;
  align-self: flex-end;
  margin-left: auto;
  border-bottom-right-radius: 4px;
}

.from-them {
  background-color: #3a3b3c;
  color: white;
  width: fit-content;
  align-self: flex-start;
  margin-right: auto;
  border-bottom-left-radius: 4px;
}

.chat-footer {
  padding: 10px;
  position: absolute;
  width: 64%;
  bottom: 0;
}

.chat-input {
  border: 1px solid gray;
  color: black;
}

.chat-input::placeholder {
  color: #b0b3b8;
}
/* Hide/show panels on mobile */

@media (max-width: 768px) {
  .messenger-panel {
    display: none;
  }

  .chat-panel-mobile {
    display: none;
  }

  .show-messenger {
    display: block !important;
  }

  .show-chat {
    display: block !important;
  }
  .chat-footer {
    padding: 10px;
    position: absolute;
    width: 95%;
    bottom: 0;
  }
}
