Body {
  font-family: Arial, sans-serif;
  margin: 0;
}
main {
  background-color: #c1d2da;
  padding-bottom: 7rem;
  position: relative;
}
main .home-ctn {
  padding-top: 5rem;
  margin-left: 1rem;
}
main .home-ctn p {
  color: #59656b;
  width: 90%;
  margin: 1rem 0;
}
main .home-ctn h1 {
  font-size: 4rem;
}
main .home-ctn button,
.property-search-container button {
  color: white;
  background-color: black;
  margin-top: 1rem;
  padding: 0.8rem 2.5rem;
  border-radius: 0.5rem;
  border: none;
  transition: 0.3s;
}
main .home-ctn button:hover ,
.property-search-container button:hover {
  background-color: #c1d2da;
  color: black;
}
main .stats {
  font-weight: 600;
}
main .stats p {
  color: black;
}
