#Posts .swiper {
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}
#Posts a{
    color: black;
}
#Posts .swiper-pagination{
    bottom: -5px;
}
#Posts .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  box-sizing: border-box;
  transition: 0.3s;
}

#Posts .post-card {
  width: 100%;
  max-width: 300px;
  background: #fff;
  overflow: hidden;
  transition: 0.3s;
}

#Posts .post-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.LineChart canvas{
  width: 100% !important;
  height: 34.2rem !important;
}
#Posts .swiper-wrapper{
  width: 5rem !important;
}